.conteudoConfig{
    flex-direction: column;
    background-color: white;
    height: 100%;
    max-width: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 1vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 25px; 
}

.campoEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    gap: 7px;
}

.campoZap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 7px;
}

#trocar{
    color: #03BCF6;
    background-color: white;
    display: flex;
    padding: 16px;
    border-radius: 5px;  
    border: 1px solid #adadad;
    outline-color: #90ee90;
    width: 100%;
    margin-top: 1rem;

}

.conteudoConfig input{
    background-color: white;
    display: flex;
    padding: 11px;
    border-radius: 5px;  
    border: 1px solid #adadad;
    outline-color: #90ee90;
    width: 100%;
    margin-top: 1rem;

}

.add {
    color: white;
    background-color: #00D222;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    
}

.link-sair{
    text-decoration: none;
    margin-top: 1.5rem;
}
